.modal-body {
	font-family: 'OpenSans-Regular';
	color: #343b5c;
	font-size: 14px;
}

.modal-body h2 {
	color: #343b5c;
	font-family: 'Avenir-Heavy';
	font-size: 21px;
	padding-top: 21px;
	padding-bottom: 12px;
	letter-spacing: .5px;
}

.modal-body h4.box-text {
	color: #343b5c;
	font-family: 'Avenir-Heavy';
	font-size: 12px;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 12px;
	letter-spacing: .3px;
	text-align: center;
}

.modal-body .trade-heading {
	padding-bottom: 20px;
}

.modal-body.json-order {
	padding-top: 8px;
}

.modal-body.json-order .title {
	font-family: 'OpenSans-SemiBold';
	color: #606789;
	font-size: 18px;
}

.modal-body.json-order .desc {
	margin-bottom: .5rem;
	margin-top: 1.4rem;
}

.modal-body.json-order .input, .modal-body.json-order .input:focus {
	background-color: #F7FAFD;
	border: 1px solid #DCE3EB;
}

.modal-body.json-order input {
	font-family: 'OpenSans-Regular' !important;
	color: #343b5c !important;
	font-size: 14px !important;
}

.modal-body .btn {
	height: 40px;
}

.modal-body.json-order .btn-outline-secondary {
	width: 100%;
	background-color: #F7FAFD;
	border: 1px solid #DCE3EB;
	color: #B1BDC9;
	text-transform: uppercase;
    font-size: 14px;
}

.textarea-copy {
    margin-top: -6px;
	height: 40px;
    border-radius: 0px 0px 4px 4px !important;
}

.modal-body.json-order input,
.modal-body.json-order input:focus,
.modal-body.json-order input:active {
    outline: none !important;
	border: 1px solid #DCE3EB;
}

.modal-body.json-order .form-control[readonly] {
    background-color: #FFF;
    opacity: 1;
}

.modal-body.json-order .order-textarea {
	border: 1px solid #DCE3EB;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    max-height: 280px;
    min-height: 80px;
}

.modal-body.json-order .order-textarea:focus {
    outline: none !important;
}
.modal-body.json-order input {
    height: 40px;
}
.modal-body h4.box-text span {
	font-family: 'Avenir-Book';
}

.modal-body h4.box-text span {
	font-family: 'Avenir-Book';
}

.modal-body p {
	color: #9096b2;
	font-family: 'Avenir-Book';
	font-size: 13px;
	letter-spacing: .2px;
}

.modal-body a {
	color: #FF67D1 !important;
	font-style: normal !important;
}

.modal-content {
	color: #343b5c;
	font-family: 'Avenir-Heavy';
	font-size: 16px;
}
.modal-body {
	padding-left: 2.5rem !important;
	padding-right: 2.5rem !important;
}
.bottomText {
	padding-top: 8px;
	letter-spacing: .1px;
	font-family: 'Avenir-Medium';
	font-size: 16px;
}
.modal-foot {
    display:inline-block;
	padding: 1rem; 
	border-top: 1px solid #e9ecef; 
}
.modal-foot .help {
    display:inline;
    padding-left: 6px;
}

.modalFooterText {
    display:inline;
	font-family: 'Avenir-Book';
	font-size: 12px;
	color: #9096b2;
	letter-spacing: .8px;
	margin-bottom: 2px !important;
}
